name: build-and-cache

on:
  push:
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: easimon/maximize-build-space@v4
        with:
          remove-dotnet: true
          remove-android: true
          remove-haskell: true
          overprovision-lvm: true

      - uses: actions/checkout@v2
        with:
          # Nix Flakes doesn't work on shallow clones
          fetch-depth: 0

      - uses: cachix/install-nix-action@v16

      - uses: cachix/cachix-action@v10
        with:
          name: thiagokokada-nix-configs
          extraPullNames: 'nix-community'
          authToken: '${{ secrets.CACHIX_TOKEN }}'

      - name: Set default git branch (to reduce log spam)
        run: git config --global init.defaultBranch master

      - name: Check if all '.nix' files are formatted correctly
        run: ./Makefile format-check

      - name: Validate Flakes
        run: ./Makefile validate

      - name: Build Nix configs
        run: ./Makefile all-linux

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # Nix Flakes doesn't work on shallow clones
          fetch-depth: 0

      - uses: cachix/install-nix-action@v16

      - uses: cachix/cachix-action@v10
        with:
          name: thiagokokada-nix-configs
          extraPullNames: 'nix-community'
          authToken: '${{ secrets.CACHIX_TOKEN }}'

      - name: Set default git branch (to reduce log spam)
        run: git config --global init.defaultBranch master

      - name: Build Nix configs
        run: nix-shell --run "make -f ./Makefile all-macos"
