jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: easimon/maximize-build-space@v6
        with:
          overprovision-lvm: true
          remove-android: true
          remove-dotnet: true
          remove-haskell: true
      - uses: actions/checkout@v3
      - name: Cache /nix/store
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('flake.*') }}
          path: /tmp/nix-cache
          restore-keys: |
            ${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('flake.*') }}
            ${{ runner.os }}-${{ runner.arch }}-
      - uses: cachix/install-nix-action@v20
        with:
          extra_nix_config: access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Import /nix/store cache
        run: |
          if [[ -f "/tmp/nix-cache" ]]; then
            nix-store --import < "/tmp/nix-cache"
          fi
      - uses: cachix/cachix-action@v12
        with:
          authToken: ${{ secrets.CACHIX_TOKEN }}
          extraPullNames: nix-community
          name: thiagokokada-nix-configs
      - name: Set default git branch (to reduce log spam)
        run: git config --global init.defaultBranch master
      - name: Check if all `.nix` files are formatted correctly
        run: nix run '.#formatCheck'
      - name: Validate Flakes
        run: nix flake check
      - name: Build Home-Manager configs
        run: |-
          nix build --print-build-logs '.#homeConfigurations.home-linux.activationPackage'
          nix build --print-build-logs '.#homeConfigurations.steamdeck.activationPackage'
      - name: Build NixOS configs
        run: |-
          nix build --print-build-logs '.#nixosConfigurations.miku-nixos.config.system.build.toplevel'
          nix build --print-build-logs '.#nixosConfigurations.mikudayo-re-nixos.config.system.build.toplevel'
          nix build --print-build-logs '.#nixosConfigurations.mirai-vps.config.system.build.toplevel'
      - name: Export /nix/store cache
        run: |
          rm -f "/tmp/"*"-old" "/tmp/nix-cache"
          nix-collect-garbage -d
          nix-store --export $(find "/nix/store" -maxdepth 1 -name '*-*') > "/tmp/nix-cache"
  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cache /nix/store
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('flake.*') }}
          path: /tmp/nix-cache
          restore-keys: |
            ${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('flake.*') }}
            ${{ runner.os }}-${{ runner.arch }}-
      - uses: cachix/install-nix-action@v20
        with:
          extra_nix_config: access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Import /nix/store cache
        run: |
          if [[ -f "/tmp/nix-cache" ]]; then
            nix-store --import < "/tmp/nix-cache"
          fi
      - uses: cachix/cachix-action@v12
        with:
          authToken: ${{ secrets.CACHIX_TOKEN }}
          extraPullNames: nix-community
          name: thiagokokada-nix-configs
      - name: Set default git branch (to reduce log spam)
        run: git config --global init.defaultBranch master
      - name: Build Home-Manager configs
        run: nix build --print-build-logs '.#homeConfigurations.home-macos.activationPackage'
      - name: Build Nix Darwin configs
        run: nix build --print-build-logs '.#darwinConfigurations.miku-macos-vm.system'
      - name: Export /nix/store cache
        run: |
          rm -f "/tmp/"*"-old" "/tmp/nix-cache"
          nix-collect-garbage -d
          nix-store --export $(find "/nix/store" -maxdepth 1 -name '*-*') > "/tmp/nix-cache"
name: build-and-cache
"on":
  - push
  - workflow_dispatch
