jobs:
  update-flakes:
    runs-on: ubuntu-latest
    steps:
      - uses: thiagokokada/free-disk-space@main
        with:
          opt: true
          tool-cache: true
          usrlocal: true
          usrmisc: true
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |-
            accept-flake-config = true
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v15
        with:
          authToken: ${{ secrets.CACHIX_TOKEN }}
          extraPullNames: nix-community
          name: thiagokokada-nix-configs
      - name: Update flake.lock
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          nix flake update --commit-lock-file
      - name: 'Build Home-Manager configs for: home-linux, steamdeck'
        run: |-
          nix build --print-build-logs '.#homeConfigurations.home-linux.activationPackage'
          nix build --print-build-logs '.#homeConfigurations.steamdeck.activationPackage'
      - name: 'Build NixOS configs for: hachune-nixos, miku-nixos, mirai-nixos, sankyuu-nixos'
        run: |-
          nix build --print-build-logs '.#nixosConfigurations.hachune-nixos.config.system.build.toplevel'
          nix build --print-build-logs '.#nixosConfigurations.miku-nixos.config.system.build.toplevel'
          nix build --print-build-logs '.#nixosConfigurations.mirai-nixos.config.system.build.toplevel'
          nix build --print-build-logs '.#nixosConfigurations.sankyuu-nixos.config.system.build.toplevel'
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          body: |
            ## Run report

            https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          branch: flake-updates
          delete-branch: true
          title: Update flake.lock
name: update-flakes
"on":
  schedule:
    - cron: 40 4 * * 0,2,4,6
  workflow_dispatch: null
