jobs:
  update-flakes-macos:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v20
        with:
          extra_nix_config: access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v12
        with:
          authToken: ${{ secrets.CACHIX_TOKEN }}
          extraPullNames: nix-community
          name: thiagokokada-nix-configs
      - name: Set default git branch (to reduce log spam)
        run: git config --global init.defaultBranch master
      - name: 'Build Home-Manager configs for: home-macos'
        run: nix build --print-build-logs '.#homeConfigurations.home-macos.activationPackage'
name: update-flakes-darwin
"on":
  workflow_dispatch: null
  workflow_run:
    types:
      - completed
    workflows:
      - update-flakes
