jobs:
  update-flakes-macos:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v17
        with:
          extra_nix_config: access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v10
        with:
          authToken: ${{ secrets.CACHIX_TOKEN }}
          extraPullNames: nix-community
          name: thiagokokada-nix-configs
      - name: Set default git branch (to reduce log spam)
        run: git config --global init.defaultBranch master
      - name: Building nix-darwin configs
        run: nix build '.#darwinConfigurations.miku-macos-vm.system'
      - name: Building Home-Manager configs
        run: nix build '.#homeConfigurations.home-macos.activationPackage'
name: update-flakes-darwin
"on":
  workflow_run:
    types:
      - completed
    workflows:
      - update-flakes
