on:
  workflow_run:
    workflows: ["update-flakes"]
    types: [completed]

jobs:
  update-flakes-macos:
    runs-on: macos-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: flake-updates
          # Nix Flakes doesn't work on shallow clones
          fetch-depth: 0

      - uses: cachix/install-nix-action@v16

      - uses: cachix/cachix-action@v10
        with:
          name: thiagokokada-nix-configs
          extraPullNames: 'nix-community'
          authToken: '${{ secrets.CACHIX_TOKEN }}'

      - name: Set default git branch (to reduce log spam)
        run: git config --global init.defaultBranch master

      - name: Build Nix configs
        run: ./Makefile all-macos
