concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
jobs:
  build-x86_64-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |-
            accept-flake-config = true
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          authToken: ${{ secrets.CACHIX_TOKEN }}
          extraPullNames: nix-community,chaotic-nyx
          name: thiagokokada-nix-configs
      - name: nix-info -m
        run: |
          nix run '.#nix-info' -- -m
      - name: Validate Flakes
        run: nix flake check --all-systems --print-build-logs
name: validate-flakes
"on":
  - push
  - workflow_dispatch
